.textcontainer {
    left: 150px;
    top: 50px;
    margin-top: 30px;
    max-width: 800px;
    padding-left: 10%;
    padding-right: 10%;
}

.text {
    font-size: 16px;
    font-family: 'Lato';
}

.title {
    font-size: 36px;
}

.subtitle {
    font-size: 22px;
    color: #ff0099;
    font-style: bold;
}

