body {
    background-image: url("../images/topography.png");
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.pageheader {
    top: 0px;
    height: 50px;
    width: auto;
    background-color: #000;
}

.icon {
    position: absolute;
    left: 130px;
}

.textcontainer {
    top: 50px;
    margin-top: 30px;
    max-width: 1024px;
    padding-left: 10%;
    padding-right: 10%;
}

.textcontainer2 {
    margin-top: 85px;
    max-width: 1024px;
    padding-left: 10%;
    padding-right: 10%;
}

.text {
    font-size: 16px;
    font-family: 'consolas', 'courier';
}

.title {
    font-size: 36px;
    font-family: 'Gugi', cursive;
}

.subtitle {
    font-size: 22px;
    font-style: bold;
    font-family: 'Merriweather', serif;
}

.subtitle-role {
    font-size: 24px;
    color: #ff0099;
    font-style: bold;
}

.title-centered {
    text-align: center;
    font-size: 28px;
    font-family: 'Gugi', cursive;
}

.link {
    color: #ff0099;
}

