<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>fox club</title>
</head>
<body>
    <ul>
        <li><a th:href="@{http://www.thymeleaf/documentation.html}">Information</a></li>
    </ul>
    <img src="/templates/greenfox.png" />
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows two tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>

<!--<img th:src="@{/templates/greenfox.png}" > -->